.post {
  height: 40px;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: .2rem .3rem;
  border: 1px solid blue;
  transition: all .1s ease-in;
}

.post:visited {
  color: purple;
}

.post__image {
  height: 100%;
}

.post__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__date {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .post {
    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  .post {
    width: 100%;
  }
}

@media (hover: hover) {
  .post:hover {
    background-color: blue;
    color: #fff;
  }
  
  .post:visited:hover {
    background-color: lightskyblue;
  }
}
